.container {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #2E2D2C66;
  border-radius: 4px;
  opacity: 1;
}

.formHeader {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #D5D5D5;

  > h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.formBody {
  padding: 1.5rem;
}

.form {
  > div {
    margin: 0 0 1rem 0;

    &:last-of-type {
      margin: 0;
    }
  }

  > h3 {
    font-size: 1rem;
    margin: 1.5rem 0;
  }

  > button[type="submit"] {
    margin: 1.5rem 0 0;
    padding: 0.3rem 1rem;

    background: var(--blue) 0% 0% no-repeat padding-box;
    color: var(--white);
    font-size: 0.875rem;
    border-radius: 16px;
    border: none;
    outline: none;
    opacity: 1;

    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
       background: var(--blue-dark);
       transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}