.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  width: 100%;
  top: 0;

  background: transparent linear-gradient(90deg, #5A5789 0%, #2D2C45 100%) 0% 0% no-repeat padding-box;
  height: 3.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;

  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}