.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin: 3.125rem 0 0;

  background: transparent linear-gradient(90deg, #5A5789 0%, #2D2C45 100%) 0% 0% no-repeat padding-box;
  height: 3.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;

  > h2 {
    color: var(--white);
    font-size: 1.25rem;
  }
}